body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-row {
  display: flex;
  font-weight: bold;
  background-color: #f2f2f2; /* Example background color */
  /* Other styling as needed */
}

.header-cell {
  flex: 1;
  padding: 10px; /* Example padding */
  /* Other styling as needed */
}

.data-container {
  /* Container styles */
}

.data-row {
  padding-bottom: 10px;
  padding-top: 10px;

  display: flex;
  /* Add styles for your row */
}

.data-cell {
  flex: 1;
  /* Add styles for your cell */
}

audio {
  width: 100%; /* Adjust the width as needed */
  /* Additional styling */
}

.data-row.even-row {
  background-color: #f9f9f9; /* Light background color for even rows */
}

.data-row.odd-row {
  background-color: #ffffff; /* Keep odd rows white or any other color */
}
